
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 26px;
    color: #007bff;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #007bff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }

#wynik {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}

.ad {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    background-color: #f8f9fa;
    color: #212529;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.ad-left {
    left: 10px;
}

.ad-right {
    right: 10px;
}

/* Media queries dla urz¹dzeñ mobilnych */
@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 100%;
    }

    h1 {
        font-size: 22px;
    }

    input[type="number"],
    select {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }

    .ad {
        width: 100px;
        font-size: 12px;
        padding: 5px;
    }

    .ad-left, .ad-right {
        position: static;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    input[type="number"],
    select {
        font-size: 12px;
        padding: 8px 12px;
    }

    button {
        font-size: 14px;
    }

    .ad {
        width: 80px;
        font-size: 10px;
        padding: 5px;
    }
}
